/* Site wide classes */


.maxWidth{
  max-width: 1920px;
  min-width: 1920px;
}
* {
  box-sizing: border-box;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  text-decoration:none;
  color: white;
}

.Selected{
    animation:SelectedText 1.2s infinite;
    background-color: blue;
}

@keyframes SelectedText{
    0%{     color: yellow;    }
    49%{    color: yellow; }
    60%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: yellow;    }
}

body {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-family: VT323;
  background-color: Black;
}

ul {
  text-align: right;
  border: 10px solid yellow;
  list-style-type: none;
  margin: 10px;
  padding: 20px;
  float: left;
}

li{
  padding: 10px;
}

li:hover{
  background-color: magenta;
}

#HeadingWrapper{
  margin: 10px;
  background-color: blue;
  padding: 15px;
}

#scrollingtextWrapper {
  margin: 10px;
  border: 10px solid red;
  color: cyan;
  display: block;
  padding: 10px;
}

marquee{
  white-space: pre;
}

/* homepage css */

#textWrapper{
  margin: 10px;
  padding: 10px;
  border: 10px solid blue;
  display: inline-block;
}

#creditsWrapper{
  margin: 10px;
  border: 10px solid;
  width: 50%;
  height: 620px;
  text-align: center;
  float: right;
  -webkit-animation: rainbow 5s infinite;
}

@-webkit-keyframes rainbow{
	0%{color: red;}
	20%{color: yellow;}
  40%{color: cyan;}
	60%{color: blue;}
  80%{color: magenta;}
}

/* Infopage css */

#eventsWrapper{
  border: 10px solid blue;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  margin-top: 20px;
  height: 620px;
}

.events{
  font-size: 25;
  text-align: center;
  list-style-type: none;
}

#twitterWrapper{
float: left;
padding: 10px;
}

#textwrapperInfo{
  overflow: hidden;
  position: relative;
  padding: 10px;
  margin: 10px;
  height: 490px;
  border: 10px solid cyan;
}

/* Contactpage css */

#Robot{
  display: inline;
  float: left;
}

#ContactPage{
  display: grid;
  grid-template-columns: 42% auto;
}
#Contact, #FindUs{
  border: 10px solid yellow;
  margin: 10px;
  padding: 20px;
}
#Contact{
  grid-row-start: span 2;
}
#Contact textarea{
  height: 300px;
  resize: none;
}
#Contact input, textarea{
  width: 100%;
  padding: 10px;
  border: none;
  background-color: white;
}
#Contact input[type=Submit]{
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 5px;
  color: white;
  background-color: blue;
}
#Contact input[type=Submit]:hover{
  color: white;
  background-color: magenta;
}
iframe{
  border: 0;
  margin: 0;
  width: 100%;
  height: 65%;
}

/* Project page css */


#projects{
  float: center;
}

#Project_Welcome{
  border: 10px solid blue;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  margin-top: 20px;
  float: right;
  width: 20%;
}

#Levels{
  margin: 10px;
  padding: 5px;
  display: inline-block;
  width: 97.5%;
  text-align: center;
  font-size: 120%;
}

#Beginner{
  border: 10px solid white;
  }

#Intermediate{
  border: 10px solid yellow;
  color: yellow;
  }

#Advanced{
  border: 10px solid red;
  color: red;
  }

  /* Mechanics page css */

  #imageLocation{
    overflow: hidden;
    margin: 10px;
    padding: 20px;
    margin-top: 20px;
    height: 620px;
    text-align: center;
    position: relative;
    border: 10px solid cyan;
  }

  #carImage{
    max-width: 100%;
    width: 750px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  #pageInfoMechanics{
    border: 10px solid magenta;
    padding: 10px;
    margin: 10px;
  }

  .grid-container {
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 5px solid yellow;
  }

  .grid-item {
    border: 5px solid yellow;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item:hover{
    background-color: blue;
  }

/* Embroidery page css */

#Embroidery_Image{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50%;
}

#EmbroideryIntro{
  display: inline-block;
  border: 10px solid red;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
}

#Threads{
  display: inline-block;
  border: 10px solid cyan;
  padding: 10px;
  margin: 10px;
}

#Fabrics{
  display: inline-block;
  border: 10px solid magenta;
  padding: 10px;
  margin: 10px;
}

#FabricList{
  text-align: left;
  border: 1px solid black;
  list-style-type: none;
  margin: 0.1px;
  padding: 1px;
  float: left;
  box-shadow: 0:0:0;
}

#fabricList:hover{
  background-color: black;
}

#Titles{
  text-decoration: underline;
}

/* Embroidery Resouces Page css */

#resourceImage{
  max-width: 100%;
  width: 750px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#picLocation{
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  padding: 20px;
  margin-top: 20px;
  height: 565px;
  width: 550px;
  text-align: center;
  position: relative;
  border: 10px solid blue;
}

#pageInfoResources{
  display: block;
  position: relative;
  border: 10px solid red;
  padding: 10px;
  margin: 10px;
  margin-top: 45px;
}

.grid-container2 {
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  border: 5px solid cyan;
}

.grid-item2 {
  border: 5px solid cyan;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* bicycle css */

#bikeInfo{
  background-color: red;
  margin: 10px;
  padding: 10px;
  float: right;
  width: 50%;
  border: 10px solid yellow;
  height: 620px;
}

#bikeTyreImage{
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%);
}

.column {
  border: 10px solid magenta;
  float: left;
  width: 25%;
  padding: 40px;
  height: 500px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* DIY css */

/*DIY CSS*/



#Layout{
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 97.5%;
  text-align: center;
  font-size: 120%;
}

#Bulb{
float: center;
border: 10px solid blue;
  overflow: hidden;
  margin: 0px;
  padding: 10px;
  margin-top: 0px;
}

#Painting{
  float: center;
border: 10px solid red;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  margin-top: 20px;
}

#Plumbing{
  float: center;
border: 10px solid yellow;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  margin-top: 20px;
}

#Shelf {
  float: center;
  border: 10px solid blue;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  margin-top: 20px;
